mixin carousel()
  ._carousel
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          .container
            .row
              .col-xs-24
                img(src='http://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg', alt='First slide')
                  .carousel-caption
                    h1 Example headline.
                    p
                      | Note: If you&apos;re viewing this page via a
                      code file://
                      |  URL, the &quot;next&quot; and &quot;previous&quot; Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
          .container
            .row
              .col-xs-24
                img(src='http://i.dailymail.co.uk/i/pix/2016/03/22/13/32738A6E00000578-3504412-image-a-6_1458654517341.jpg', alt='Second slide')
                  .carousel-caption
                    h1 Another example headline.
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                      a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          .container
            .row
              .col-xs-24
                img(src='http://www.w3schools.com/css/trolltunga.jpg', alt='Third slide')
                  .carousel-caption
                    h1 One more for good measure.
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                      a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right