button,
.button,
.button *{	
	&:focus{
		border:none;
		outline:none;
		box-shadow:none;
	}
}
button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}
.button{
}
