._search{
  .form{
    height:270px;
    margin-bottom: -150px;
    position: relative;

    form{
      height:120px;
      padding-top:50px;
      display:block;

      input{
        border-radius:10px 0 0 10px;
        border:none;
        box-shadow: 0 0 10px transparentize($olive-green,0.7);
        height: $base;
        background: $white;
        float:left;
        width:calc(100% - 40px);
        padding-left: 15px;
        &:focus{
          border:none;
          outline:none;
        }
      }

      button{
        background: $white;
        border-radius:0 10px 10px 0;
        float: right;
        width: $base;
        height: $base;
        bordeR:none;
        box-shadow: 0 0 10px transparentize($olive-green,0.7);
        color:$olive-green;
        font-size:2rem;
      }
    }
  }
  .map{
    margin-bottom: $base;
    h1{
      color:$olive-green;
      margin-bottom: 10px;
      float:left;
      ._qty,._city{
        color:$brown;
        font-weight: $regular;
      }
      @include responsive(desktop,large-desktop){
        margin-bottom: 0;
      }
    }
  }
  ._showMore{
    text-transform: uppercase;
    p{
      text-align: center;
      color:$olive-green;
      font-size:2rem;
      span{
        font-weight:$regular;
        color:$brown;
        margin-right: 5px;
      }
    }

    a{
      display: block;
      text-align: center;
      color:$olive-green;
      font-size:2rem;
    }
  }
}