mixin partners()

  section._partners
    h2!= site.data.partners.title

    ._partnersWrapper
      ._partnersScroller
        ul._items
          each val in site.data.partners.partners
            li
              a(href="#{val.url}",target="_blank")
                img(src="#{val.src}",alt="#{val.name}")
