@font-face {
  font-family: 'dragon_is_coming';
  src: url('DragonisComing.eot');
  src: url('DragonisComing.eot?#iefix') format('embedded-opentype'),
  url('DragonisComing.woff2') format('woff2'),
  url('DragonisComing.woff') format('woff'),
  url('DragonisComing.ttf') format('truetype'),
  url('DragonisComing.svg#DragonisComing') format('svg');
  font-weight: normal;
  font-style: italic;
}