@font-face {
    font-family: 'dragon_is_coming';
    src: url('dragon_is_coming-webfont.woff2') format('woff2'),
         url('dragon_is_coming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}