header._header
  ._logo
    a(href="#")
      img(src="#",alt="The BBH")
  nav
    ._top
      ._slogan Hoteles con emoción
      ul._auxiliaryNav.pull-right.hidden-xs.hidden-sm
        li
          i.fa.fa-search
        li
          i.fa.fa-facebook-f
        li
          i.fa.fa-instagram
    .bottom
      .hamburguer.hidden-md.hidden-lg.pull-right
        span
        span
        span
        span
      ul._mainNav
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
        li
          a(href="#") Argentina
      ul._auxiliaryNav.pull-right.hidden-md.hidden-lg
        li
          i.fa.fa-search
        li
          i.fa.fa-facebook-f
        li
          i.fa.fa-instagram


