header._header
  nav
    ._top
      .container
        .row
          .col-xs-24
            ._logo
              a(href="#")
                img(src="/images/BBH-logo.svg",alt="The BBH")
            h1._slogan
              = site.data.header.slogan
            ul._auxiliaryNav.pull-right.hidden-xs.hidden-sm
              li
                a(href="#")
                  i.fa.fa-search
              li
                a(href="#")
                  i.fa.fa-facebook-f
              li
                a(href="#")
                  i.fa.fa-instagram
    .hamburguer.hidden-md.hidden-lg.pull-right
      span
      span
      span
      span
    ._bottom
      .container
        .row
          .col-xs-24
            ul._mainNav
              each val in site.data.header.menu
                li
                  a.-topLevel(href="#{val.url}")!= val.name
                  ._subMenu
                    ul.list-unstyled
                      li
                        a(href="#")
                          span._name Region 1
                      li
                        a(href="#")
                          span._name Region 2
                      li
                        a(href="#")
                          span._name Patagonia Chilena
                      li
                        a(href="#")
                          span._name Region 4
                      li
                        a(href="#")
                          span._name Region 5
                      li
                        a(href="#")
                          span._name Region 6
                      li
                        a(href="#")
                          span._name Region 7
                      li
                        a(href="#")
                          span._name Region 8
            .hamburguer.-ipad.pull-right
              span
              span
              span
              span
            ul._subNav
              each val in site.data.header.subMenu
                li
                  a(href="#{val.url}")!= val.name
            ul._auxiliaryNav.hidden-md.hidden-lg
              li
                a(href="#")
                  i.fa.fa-search
              li
                a(href="#")
                  i.fa.fa-facebook-f
              li
                a(href="#")
                  i.fa.fa-instagram


